<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Travel App</title>
</head>
<body>
    <div class="background-img"> 
        <h1 class="main-title">the travel app</h1>
        <h2 class="date-of-travel"></h2>
    </div>
    <section class="main-content">
        <div class="location-info">
            <div class="weather-column first-column">
                <div class="info-title">Weather</div>
                <div class="info-value">
                    <div class="weather-logo"></div>
                    <div class="main-weather-info"></div>
                </div>
            </div>
            <div class="weather-column">
                <div class="weather-info-selection">
                    <div class="info-title">Temperature</div>
                    <div class="info-value temp-div"></div>
                </div>
                <div class="weather-info-selection">
                    <div class="info-title">Feels like</div>
                    <div class="info-value feels-div"></div>
                </div>
            </div>
            <div class="weather-column">
                <div class="weather-info-selection">
                    <div class="info-title">Sunrise</div>
                    <div class="info-value sunrise-div"></div>
                </div>
                <div class="weather-info-selection">
                    <div class="info-title">Sunset</div>
                    <div class="info-value sunset-div"></div>
                </div>
            </div>
            <div class="weather-column">
                <div class="weather-info-selection">
                    <div class="info-title">Wind speed</div>
                    <div class="info-value wind-div"></div>
                </div>
                <div class="weather-info-selection">
                    <div class="info-title">Humidity</div>
                    <div class="info-value humidity-div"></div>
                </div>
            </div>
        </div>
        <div class="form-box">
            <form>
                <div class="form-column">
                    <label for="location">Where are you going?</label>
                    <input type="text" id="location" name="location" placeholder="City">
                </div>
                <div class="form-column">
                    <label for="date">When are you leaving?</label>
                    <input type="text" id="date" name="date" placeholder="mm/dd/yyyy">
                </div>
                <input type="submit" value="Go!" id="submit-btn">
            </form>
            <div class="error-box"></div>
        </div>
    </section>
    </body>
</body>
</html>