// Colors
$main-txt-color: #032e35;
$sec-color: #f5f5f5;
$btn-color: #c3876f;

//Box params
$def-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.1);
$def-border-rad: 4px;

//Input params
$input-border: 1px solid #b5b5b5;

//Font
$main-font: "Montserrat", sans-serif;
